@charset "utf-8";
/* CSS Document */

/************** 화면 전체 *****************/

/* 링크 */
A:link    {color:#555555;text-decoration:none;}
A:visited {color:#555555;text-decoration:none;}
A:active  {color:#555555;text-decoration:none;}
A:hover  {color:#999999;text-decoration:none;}
/* 테이블 셀 */
td {color: #000000;	font-size: 12px;}
/* 이미지 */
img {border:0px;}

/* 바디 */
body {
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 100px;
	OVERFLOW: auto;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 12px;

	scrollbar-3dlight-color: #000000;
    scrollbar-arrow-color: #000000;
    scrollbar-track-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000;
    scrollbar-face-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-shadow-color: #FFFFFF;
}

/************** 좌측 메뉴 *****************/
.talk {
	background:#FFFFFF;
	overflow: auto;
	overflow-x: hidden;
}

/**/
.talk .talkbox {
	border: 2px solid #555555;
	height: 180px;
	width: 400px;
	margin-bottom: 5px;
	padding: 5px;
	overflow: auto;
	overflow-x: hidden;
}

.talk .talkcell {
	padding: 10px 25px 0px 25px;
	overflow: auto;
	overflow-x: hidden;
}

.talk .menuface {
	float: left;
}

.talk .menubox {
	float: left;

	border: 0px solid #555555;
	height: 150px;
	width: 265px;
	padding: 5px;
	overflow: auto;
	overflow-x: hidden;
}

/************** 우측 메뉴 *****************/
.item_box {
	border:1px solid #333333;
	width: 400px;
	height: 400px;
	padding: 5px;
	overflow: auto;
	overflow-x: hidden;
}

.item_box .item_list {
	border:0px solid #333333;
	width: 360px;
	margin: 10px;
	text-align: center;
}

